.title {
  font-size: 100px;
  font-weight: 500;
  color: rgba(175,47,47,.15);
  text-align: center;
}

.todoApp {
  margin: 20px auto;
  width: 550px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
